.paginate {
	font-family: Arial, Helvetica, sans-serif;
}

a.paginate {
	border: 1px solid #CCC;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080;
}


a.paginate:hover {
	background-color:#CCC;
	color: #FFF;
	text-decoration: underline;
}

a.current {
	border: 1px solid #CCC;
	font: bold  Arial,Helvetica,sans-serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	background:#CCC;
	color: #FFF;
	text-decoration: none;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}